EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=
pass=
PORT=
EXPO_PUBLIC_YOUTUBE_API_KEY=
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=
